{% extends 'core/base.html' %}

{% block container %}
    <div class="section">
        <div class="row">
                        <div class="card-panel z-depth-4">

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="input-field col s6">
                        {{ form.name }}
                        {{ form.name.label_tag }}
                    </div>
                    <div class="col s4" style="margin-top: 2rem">
                        {{ form.is_active }}
                        {{ form.is_active.label_tag }}
                    </div>
                </div>

                <div class="row">
                    <div class="right-align">
                        <button class="waves-effect waves-light btn-large" type="submit">Сохранить
                            <i class="material-icons left">save</i></button>
                    </div>
                </div>
            </form>
                        </div>
        </div>
    </div>
{% endblock %}